/*
 * @Overview:   views/Home style
 * @Author:     Zi_Jun
 * @Email:      zijun2030@163.com
 * @Date:       2020/7/8 11:02
 * @Mark:       //
 */

.demo-home {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 46px 0;
  color: @gray-8;
  background: @white;
  .demo-home-title {
    padding: 0 16px;
    display: flex;
    align-items: center;
    .logo-icon {
      .wh(32px);
    }

    span {
      padding-left: 20px;
      font-size: 32px;
    }
  }
  .demo-home-desc {
    padding-left: 16px;
    padding-top: 18px;
    padding-bottom: 30px;
    color: @gray-6;
  }
  .demo-home-nav {
  }
}
